@font-face {
    font-family: "Ndot 55";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/ndot55.woff2) format("woff2");
}

@font-face {
    font-family: "Ndot 57";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/ndot57.woff2) format("woff2");
}
